<app-admin-dashboard></app-admin-dashboard>
<app-admin-header></app-admin-header>
<div class="content">
  <h3>All Accepted Customers</h3>
  <div class="table-container">
    <table class="table table-bordered">
      <thead class="table-dark">
        <tr>
          <th>#</th>
          <th>Email</th>
          <th>Full Name</th>
          <th>Phone Number</th>
        </tr>
      </thead>
      <tbody *ngFor="let customer of allAcceptingCustomers; let b = index">
        <tr>
          <td>{{ b + 1 }}</td>
          <td>{{ customer?.email }}</td>
          <td>{{ customer?.fullName }}</td>
          <td>{{ customer?.phoneNumber }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
