<div class="sidebar">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/adminHome" routerLinkActive="active-link"
        >All Books</a
      >
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/customerRegistrationRequset"
        routerLinkActive="active-link"
        >Customer Registration Requests</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/acceptingCustomers"
        routerLinkActive="active-link"
        >Accepted Customers</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/blockedCustomers"
        routerLinkActive="active-link"
        >Blocked Customers</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/customerBorrowingReq"
        routerLinkActive="active-link"
        >Customer Borrowing Requests</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/acceptedCustomerBorrowingReq"
        routerLinkActive="active-link"
        >Accepted Customer Borrowing Requests</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/bookReturningRequests"
        routerLinkActive="active-link"
        >Book Returning Requests </a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/damagedBooks"
        routerLinkActive="active-link"
        >Damaged Books</a
      >
    </li>
  
  </ul>
</div>
