.sidebar {
    width: 200px;
    height: 110vh;
    position: absolute;
    top: 82px; 
    left: 0;
    background-color: #313b31;
    padding-top: 20px;
    box-shadow: inset 0 2px 4px #e4e3b2; 
}

.sidebar a {
    color: #e4e3b2;
    padding: 10px;
    text-decoration: none;
    display: block;
    text-justify: auto;
    margin-left: 10px;
}

.sidebar a:hover {
    background-color: #e4e3b2;
    color: #313b31;
    margin-left: 0px;
    
}
.active-link{
    margin-left: 0px;
    font-style :italic ;
    font-weight: bold;
    font-size: large;
}

