<header class="header d-flex justify-content-between align-items-center p-3">
    <div class="d-flex align-items-center">
      <img
        src="assets/img/admin1.png"
        alt="Profile Picture"
        class="logo me-2"
        style="height: 50px; width: auto"
      />
      <div class="d-flex flex-column align-items-start">
        <span class="h5 mb-0">{{ admin?.fullName }}</span>
      </div>
    </div>
    <nav class="d-flex">
      <a routerLink="/adminHome" class="nav-link">Home</a>
      <a routerLink="/adminProfile" class="nav-link">Profile</a>
      <a routerLink="/login" class="nav-link">Logout</a>
    </nav>
  </header>
  