<!-- <p>{{ myText | lowercase }}</p>  <!-- Correctly using the lowercase pipe -->
<!-- <p>{{ myText | uppercase }}</p>
<p>{{ myText | titlecase }}</p>
<p>{{ myText | slice :s:e }}</p>
<p>{{ myText | slice :2:5 }}</p>
<p *ngFor="let n of [123] | slice : 0 : 2">
   {{n}}
</p> -->
<!-- <p>{{ myInfo.name }}</p> -->
<!-- <p>{{ myInfo }}</p> -->
<!-- <p>{{ myInfo | json }}</p>
<p>{{ myNum | number :'3.3-3'}}</p> -->
<!-- //digit info -->
<!-- <p>{{ myNum | number :'2.2-2'}}</p>
<p>{{ myNum | number :'4.4-4'}}</p> -->
<!-- percent => take the number * 100 -->
 <!-- <p>{{myNum | percent}}</p>
 <p>{{myNum | currency}}</p>
 <p>{{myDate | date}}</p>
 <p>{{myDate }}</p>  -->

<div *ngFor="let n of myNums | evennumbs">
  {{n}}
</div>