<body>
  <div class="container">
    <div class="image-container">
      <div class="image-box">
        <img
          src="assets/img/HomePageImage.png"
          class="img-fluid"
          alt="Books and insects image"
        />
      </div>
    </div>
    <div class="text-container">
      <div><h2>Books Borrowing Library</h2></div>
      <div>Discover an extensive collection of books and readings,</div>
      <div>to help you find your next favorite.</div>
      <br />
      <div>your literary journey with us!</div>
      <a routerLink="/register" routerLinkActive="active" class="link">
        Get Started &#8594;
      </a>
    </div>
  </div>
</body>
