<app-customer-header></app-customer-header>
<br />
<div class="container">
  <div class="row justify-content-center">
    <div class="rules-color-text">
      <strong
        >- Please click here
        <a class="link-text" (click)="ReadRules()">Rules</a> to find out about
        all the rules related to the metaphors and returns before you do any of
        them</strong
      >
      <div *ngIf="readRules">
        <strong>
          <ul>
            <li>You can't borrow more than a book.</li>
            <li>
              If you click on the metaphor button at the bottom of each book,
              you will be allowed to send a request to borrow a particular book
              in case:
            </li>
            <ol>
              <li>
                No book in your own library
              </li>
              <li>
                Do not submit a request for borrowing in advance and is still under consideration
              </li>
            </ol>
          </ul>
        </strong>
      </div>
    </div>

    <div *ngFor="let customerBook of allBooks" class="col-md-6">
      <div class="card book-card shadow-sm">
        <img
          src="assets/img/cart-book.gif"
          class="card-img-top"
          alt="Book Cover"
        />
        <div class="card-body">
          <p class="card-text">
            <strong>Book Name: </strong>{{ customerBook?.title }}
          </p>
          <p class="card-text">
            <strong>Author: </strong>{{ customerBook?.author }}
          </p>
          <p class="card-text">
            <strong>Publisher: </strong>{{ customerBook?.publisher }}
          </p>
          <p class="card-text">
            <strong>Published: </strong>{{ customerBook?.publicationYear }}
          </p>
          <p class="card-text">{{ customerBook?.description }}</p>
        </div>
        <div class="card-footer text-center">
          <button
            class="btn btn-outline-primary"
            (click)="BorrowBook(customerBook)"
          >
            Borrow
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
