.book-card {
  width: 400px; 
  height: 500px; 
  margin: 50px auto;
  background-color: #678d67;

  
}

.card-img-top {
  height: 150px; 
  object-fit: cover; 
}

img {
  max-width: 100%;
  height: auto;
}


.btn {
  border-color: #313b31;
  color: #313b31;
}

.btn-outline-primary:hover {
  border-color: #678d67;
  background-color: white;
  color: #678d67;
}

.ret-req {
  color: white;
  text-align: justify;
  text-decoration: underline;
}

.rules {
  color: rgb(157, 25, 25);
  text-align: justify;
}
.rules-color-text{
color: #e4e3b2;
}
.link-text{
  text-decoration: underline;
  color: #e4e3b2;
}
.link-text:hover{
  text-decoration: underline;
  color: #678d67;
}
