<app-admin-header></app-admin-header>
<app-admin-dashboard></app-admin-dashboard>
<div class="container mb-5">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="card shadow-sm rounded">
        <div class="card-header">
          <h4 class="mb-0">Book Details</h4>
        </div>
        <div class="card-body bg-light-custom">
          <div class="row mb-1">
            <div class="col-md-12 d-flex align-items-center">
              <label class="form-label me-2">
                <strong>Book Title: {{ bookData?.title }}</strong>
              </label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="newTitle"
                [ngModelOptions]="{ standalone: true }"
                style="width: auto"
                placeholder="Enter new title"
                *ngIf="toEdit"
              />
              <button
                *ngIf="toEdit"
                class="btn-s btn-outline-primary"
                (click)="Save()"
              >
                Save
              </button>
            </div>
          </div>
        </div>
        <div class="card-body bg-light-custom">
          <div class="row mb-1">
            <div class="col-md-12 d-flex align-items-center">
              <label class="form-label me-2">
                <strong>Book Author: {{ bookData?.author }}</strong>
              </label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="newAuthor"
                [ngModelOptions]="{ standalone: true }"
                style="width: auto"
                placeholder="Enter new author"
                *ngIf="toEdit"
              />
              <button
                *ngIf="toEdit"
                class="btn-s btn-outline-primary"
                (click)="Save()"
              >
                Save
              </button>
            </div>
          </div>
        </div>
        <div class="card-body bg-light-custom">
          <div class="row mb-1">
            <div class="col-md-12 d-flex align-items-center">
              <label class="form-label me-2">
                <strong>Book Publisher: {{ bookData?.publisher }}</strong>
              </label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="newPublisher"
                [ngModelOptions]="{ standalone: true }"
                style="width: auto"
                placeholder="Enter new publisher"
                *ngIf="toEdit"
              />
              <button
                *ngIf="toEdit"
                class="btn-s btn-outline-primary"
                (click)="Save()"
              >
                Save
              </button>
            </div>
          </div>
        </div>
        <div class="card-body bg-light-custom">
          <div class="row mb-1">
            <div class="col-md-12 d-flex align-items-center">
              <label class="form-label me-2">
                <strong
                  >Book publicationYear: {{ bookData?.publicationYear }}</strong
                >
              </label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="newPublicationYear"
                [ngModelOptions]="{ standalone: true }"
                style="width: auto"
                placeholder="Enter new year"
                *ngIf="toEdit"
              />
              <button
                *ngIf="toEdit"
                class="btn-s btn-outline-primary"
                (click)="Save()"
              >
                Save
              </button>
            </div>
          </div>
        </div>
        <div class="card-body bg-light-custom">
          <div class="row mb-1">
            <div class="col-md-12 d-flex align-items-center">
              <label class="form-label me-2">
                <strong
                  >TotalNumberOfCopies:
                  {{ bookData?.totalNumberOfCopies }}</strong
                >
              </label>
            </div>
          </div>
        </div>
        <div class="card-body bg-light-custom">
          <div class="row mb-1">
            <div class="col-md-12 d-flex align-items-center">
              <label class="form-label me-2">
                <strong
                  >NumberOfAvailableCopies:
                  {{ bookData?.numberOfAvailableCopies }}</strong
                >
              </label>
            </div>
          </div>
        </div>
        <div class="card-body bg-light-custom">
          <div class="row mb-1">
            <div class="col-md-12 d-flex align-items-center">
              <label class="form-label me-2 spec-lab" *ngIf="toEdit">
                if you want buy new copies from this book please click on
                <a class="link" (click)="BuyNewCopies()"
                  ><strong>Buy</strong></a
                >
              </label>
            </div>
          </div>
        </div>
        <div class="card-body bg-light-custom">
          <div class="row mb-1">
            <div class="col-md-12 d-flex align-items-center">
              <input
                type="number"
                class="form-control"
                [(ngModel)]="newNumberOfAvailableCopies"
                [ngModelOptions]="{ standalone: true }"
                style="width: auto"
                placeholder="Enter number of copies"
                *ngIf="toBuy"
              />
              <button *ngIf="toBuy" class="btn-s btn-outline-primary" (click)="Save()">
                Buy
              </button>
            </div>
          </div>
        </div>
        <div class="card-footer text-center" *ngIf="!toEdit">
          <button class="btn btn-outline-primary" (click)="Edit()">Edit</button>
        </div>
      </div>
    </div>
  </div>
</div>
