<app-header></app-header>
  <div class="container bg-custom p-4 rounded shadow">
    <form>
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Enter your email"
          [(ngModel)]="user.email"
          [ngModelOptions]="{ standalone: true }"
          required
        />
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Enter your password"
          [(ngModel)]="user.password"
          [ngModelOptions]="{ standalone: true }"
          required
        />
      </div>

      <button
        type="submit"
        class="btn btn-primary w-100"
        (click)="GetLoginData()"
      >
        Login
      </button>
    </form>
  </div>